In [1]:
import pandas as pd

X_train = pd.read_csv('X_train.csv')
X_test = pd.read_csv('X_test.csv')
X_val = pd.read_csv('X_val.csv')
Y_train = pd.read_csv('Y_train.csv')
Y_test = pd.read_csv('Y_test.csv')
Y_Val = pd.read_csv('Y_Val.csv')

In [2]:
X_train.shape

(90207, 24)

In [3]:
X_train.describe

<bound method NDFrame.describe of                 city state  stars  review_count_x  is_open  avg_review_stars  \
0       Conshohocken    PA    4.0             288        1          3.826087
1         Brownsburg    IN    1.0               7        1          1.142857
2      Santa Barbara    CA    4.0              46        1          4.042553
3      Sherwood Park    AB    4.5               6        1          4.333333
4      Santa Barbara    CA    3.0              37        0          3.102564
...              ...   ...    ...             ...      ...               ...
90202  Santa Barbara    CA    1.5               6        1          1.666667
90203    Saint Louis    MO    3.5               6        0          3.500000
90204         Fenton    MO    3.5               7        1          3.714286
90205   Apollo Beach    FL    3.0              14        1          2.785714
90206        Madison    TN    4.5              67        0          4.536232

       review_count_y  total_useful_votes  elite_user_count  \
0                 299                 511               299
1                   7                   0                 7
2                  47                  63                47
3                   6                   5                 6
4                  39                  59                39
...               ...                 ...               ...
90202               6                   6                 6
90203               6                  16                 6
90204               7                   6                 7
90205              14                  13                14
90206              69                  34                69

       review_count_per_bussiness  ...  RestaurantsDelivery  OutdoorSeating  \
0                      146.505017  ...                    1               0
1                       22.857143  ...                    0               0
2                      141.042553  ...                    0               0
3                      182.833333  ...                    0               0
4                       34.307692  ...                    0               0
...                           ...  ...                  ...             ...
90202                   38.166667  ...                    0               0
90203                  177.000000  ...                    0               1
90204                  565.857143  ...                    0               0
90205                  135.785714  ...                    1               0
90206                   51.449275  ...                    0               0

       BusinessAcceptsCreditCards  BikeParking  RestaurantsTakeOut  WiFi  \
0                               1            1                   1     0
1                               0            0                   0     0
2                               1            1                   0     0
3                               0            1                   0     0
4                               1            0                   0     0
...                           ...          ...                 ...   ...
90202                           0            0                   0     0
90203                           1            0                   0     0
90204                           1            0                   0     0
90205                           1            1                   0     0
90206                           1            1                   1     0

       Caters  WheelchairAccessible  BusinessParking  RestaurantsPriceRange2
0           1                     0                1                     2.0
1           0                     0                0                     0.0
2           0                     0                1                     1.0
3           0                     1                1                     0.0
4           0                     0                1                     3.0
...       ...                   ...              ...                     ...
90202       0                     0                0                     0.0
90203       0                     0                1                     4.0
90204       0                     0                1                     1.0
90205       0                     0                0                     2.0
90206       1                     0                1                     1.0

[90207 rows x 24 columns]>

In [4]:
X_train.drop(['city','state'], axis=1, inplace=True)

In [5]:
X_train.head()

,stars,review_count_x,is_open,avg_review_stars,review_count_y,total_useful_votes,elite_user_count,review_count_per_bussiness,avg_fans_per_reviewer,checkin_count,...,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsTakeOut,WiFi,Caters,WheelchairAccessible,BusinessParking,RestaurantsPriceRange2
0,4.0,288,1,3.826087,299,511,299,146.505017,16.317726,592,...,1,0,1,1,1,0,1,0,1,2.0
1,1.0,7,1,1.142857,7,0,7,22.857143,0.428571,0,...,0,0,0,0,0,0,0,0,0,0.0
2,4.0,46,1,4.042553,47,63,47,141.042553,10.702128,272,...,0,0,1,1,0,0,0,0,1,1.0
3,4.5,6,1,4.333333,6,5,6,182.833333,22.666667,8,...,0,0,0,1,0,0,0,1,1,0.0
4,3.0,37,0,3.102564,39,59,39,34.307692,5.230769,26,...,0,0,1,0,0,0,0,0,1,3.0

In [6]:
X_test.head()

,city,state,stars,review_count_x,is_open,avg_review_stars,review_count_y,total_useful_votes,elite_user_count,review_count_per_bussiness,...,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsTakeOut,WiFi,Caters,WheelchairAccessible,BusinessParking,RestaurantsPriceRange2
0,Philadelphia,PA,4.0,13,1,4.071429,14,56,14,360.500000,...,0,0,0,1,0,0,0,0,1,0.0
1,Reno,NV,5.0,8,1,4.900000,10,58,10,714.000000,...,0,0,1,0,0,0,1,0,1,3.0
2,Edmonton,AB,3.5,45,1,3.711111,45,127,45,112.577778,...,1,0,0,1,1,1,1,1,1,2.0
3,Boise,ID,3.5,13,1,3.714286,14,7,14,8.642857,...,0,0,0,0,0,0,0,0,0,0.0
4,Drexel Hill,PA,4.5,52,1,4.309091,55,531,55,39.563636,...,1,0,1,1,1,0,1,1,1,1.0

In [7]:
X_val = pd.read_csv('X_val.csv')

In [8]:
X_val.head()
X_val.drop(['city','state'], axis=1, inplace=True)

In [9]:
X_val.head()

,stars,review_count_x,is_open,avg_review_stars,review_count_y,total_useful_votes,elite_user_count,review_count_per_bussiness,avg_fans_per_reviewer,checkin_count,...,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsTakeOut,WiFi,Caters,WheelchairAccessible,BusinessParking,RestaurantsPriceRange2
0,3.0,13,0,2.846154,13,15,13,208.153846,28.769231,19,...,1,0,0,1,1,0,0,0,1,2.0
1,3.5,46,0,3.500000,46,46,46,220.000000,14.130435,126,...,1,0,1,1,1,0,1,0,1,1.0
2,3.0,51,1,2.882353,51,32,51,113.803922,5.549020,87,...,1,0,1,1,1,1,0,1,1,2.0
3,3.5,35,1,3.307692,39,564,39,27.307692,0.794872,0,...,0,0,1,0,0,0,0,0,0,0.0
4,3.5,32,0,3.484848,33,12,33,74.575758,3.757576,52,...,0,1,0,1,1,0,0,0,0,2.0

In [10]:
import xgboost as xgb
from sklearn.metrics import accuracy_score

# Initialize an XGBoost classifier
model = xgb.XGBClassifier()

# Train the model
model.fit(X_train, Y_train)

# Predict on the test set
Y_pred = model.predict(X_val)

# Evaluate the model
accuracy = accuracy_score(Y_Val, Y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 1.00

In [11]:
X_test.head()

,city,state,stars,review_count_x,is_open,avg_review_stars,review_count_y,total_useful_votes,elite_user_count,review_count_per_bussiness,...,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsTakeOut,WiFi,Caters,WheelchairAccessible,BusinessParking,RestaurantsPriceRange2
0,Philadelphia,PA,4.0,13,1,4.071429,14,56,14,360.500000,...,0,0,0,1,0,0,0,0,1,0.0
1,Reno,NV,5.0,8,1,4.900000,10,58,10,714.000000,...,0,0,1,0,0,0,1,0,1,3.0
2,Edmonton,AB,3.5,45,1,3.711111,45,127,45,112.577778,...,1,0,0,1,1,1,1,1,1,2.0
3,Boise,ID,3.5,13,1,3.714286,14,7,14,8.642857,...,0,0,0,0,0,0,0,0,0,0.0
4,Drexel Hill,PA,4.5,52,1,4.309091,55,531,55,39.563636,...,1,0,1,1,1,0,1,1,1,1.0

In [12]:
missing_in_train = set(X_test.columns) - set(X_train.columns)
missing_in_val = set(X_train.columns) - set(X_test.columns)

print("Missing in train:", missing_in_train)
print("Missing in validation:", missing_in_val)

Missing in train: {'city', 'state'}
Missing in validation: set()

In [14]:
X_test.drop(['state', 'city'],axis=1, inplace=True)

In [16]:
# Predict on the test set
Y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(Y_test, Y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 1.00